.about {
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 40px;

    &__main {
        display: flex;
        flex-direction: column;
        gap: 20px;

        p {
            font-size: 20px;
        }
    }

    &__team {
        display: flex;
        flex-direction: column;
        gap: 20px;

        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 15px;

            li {
                font-size: 20px;
                font-weight: 600;
            }
        }
    }
}